@import '~@fortawesome/fontawesome-free/css/all.css';
.comment-card {
    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #8484847c;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-weight: 500;
    margin-bottom: 0;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.card-footer {
    font-size: 0.8rem;
    background-color: rgba(133, 133, 133, 0.171);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.btn-primary {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.card-footer>p {
    margin-bottom: 0rem !important;
}

createdAt {
    margin-bottom: 0rem !important;
}

p {
    margin-bottom: 0rem !important;
}

.mat-mdc-paginator {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

#user-icon {
    font-size: 16px;
    margin-right: 2px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #8484847c;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.375rem 0.75rem;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.25);
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: #adadad7c;
}

.small-screen-only {
    display: none;
}

.large-screen-only {
    display: inline-block;
}

@media (max-width: 1200px) {
    .small-screen-only {
        display: inline-block;
    }
    .large-screen-only {
        display: none;
    }
}