@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
.reaction-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: var(--text-color);
    padding: 0;
    margin: 0 4px !important;
    text-align: center;
}

.reaction-count {
    color: var(--text-color);
    margin-bottom: 0 !important;
}

.list-group-item {
    background-color: transparent;
    border: none;
    margin-bottom: 0 !important;
    padding: 0px 4px !important;
}

p {
    margin-bottom: 0 !important;
}