@import '~@fortawesome/fontawesome-free/css/all.css';
.container {
    max-width: 85%;
}

.post-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#user-icon {
    font-size: 18px;
}

.birthdate {
    color: #1f1f1f;
    font-weight: bold;
}

.lead {
    color: #1f1f1f;
    font-weight: regular;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.stats-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.list-inline-item {
    flex: 1;
}

#posts {
    text-align: left;
}

#followers {
    text-align: center;
}

#following {
    text-align: right;
}

.card-body {
    padding: 0px !important;
}

.card {
    border: none;
}

.mb-3 {
    margin-bottom: 1.4rem !important;
}

.crop-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 0px 3px #1f1f1fa5);
}

.crop-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 200ms;
}

.crop-image:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.like-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.card-body:hover .like-overlay {
    opacity: 1;
}

.text-muted {
    color: #dededebb !important;
}

#uploadForm {
    background-color: #dededebb;
    padding: 10px;
    margin-bottom: 10px;
}

#cancelButton {
    margin-left: 10px;
}

#uploadButton {
    position: relative;
    margin: auto;
}