<div class="overlay" *ngIf="upload"></div>


<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card" id="uploadForm">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="image" class="form-label">Select Image</label>
                        <input type="file" class="form-control" id="image" accept="image/*"
                            (change)="onImageSelected($event)" required name="image">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" placeholder="Enter a description"
                            required [(ngModel)]="mediaInstance.description" name="description">
                    </div>
                    <div class="mb-3">
                        <label for="placeholder" class="form-label">Placeholder Text</label>
                        <input type="text" class="form-control" id="placeholder" placeholder="Enter a placeholder"
                            required [(ngModel)]="mediaInstance.placeholder_text" name="placeholder_text">
                    </div>
                    <div class="mb-3">
                        <label for="visibility" class="form-label">Visibility</label>
                        <select [(ngModel)]="mediaInstance.visibility" id="visibility" class="form-select" name="visibility">
                            <option *ngFor="let option of visibilityOptions; index as i;" [value]="visibilityOptions[i].value">{{visibilityOptions[i].name}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tags" class="form-label">Select a tag to add</label>
                        <select id="tags" class="form-select" [(ngModel)]="selectedIterator" name="selectedIterator">
                            <option *ngFor="let tag of validTags; index as i;" [value]="i">
                                {{validTags[i].name}}</option>
                        </select>
                        <button class="btn btn-secondary" (click)="addTag()">Add tag</button>
                    </div>
                    <div class="mb-3">
                        <label for="current-tags" class="form-label">Current tags</label>
                        <ul *ngIf="currentTags">
                            <li *ngFor="let tag of currentTags; index as i;">
                                {{currentTags[i].name}}
                                <button class="btn btn-secondary" (click)="removeTag(currentTags[i])">Remove</button>
                            </li>
                        </ul>
                    </div>
                    <button type="button" (click)="onSubmit()" class="btn btn-secondary">Submit</button>
                    <button type="button" id="cancelButton" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>