<div>
    <form>
        <div class="mb-3">
            <label for="new-reaction"></label>
            <select id="new-reaction" [(ngModel)]="selectedIterator" name="selectedIterator">
                <option *ngFor="let reaction of reactions; index as i;" [value]="i">
                    <img src="data:image/jpeg;base64,{{reaction.data}}" [alt]="reaction.name" [title]="reaction.name">
                </option>
            </select>
            <button (click)="add()">Add</button>
        </div>
    </form>
</div>