<div *ngIf="!foreign">
    <button class="btn btn-secondary btn-sm mb-3" (click)="showModal()">
        <i class="fas fa-upload"></i> Upload
    </button>
</div>
<div *ngIf="medias">
    <mat-grid-list [cols]="cols">
        <mat-grid-tile *ngFor="let media of medias; index as i;">
            <app-image [data]="media" [iterator]="i" (deleted)="removed($event)"></app-image>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div *ngIf="!medias">
    <p>Nothing here, but us chickens!</p>
</div>

<div *ngIf="foreign">
    <app-media-search (searchResults)="setMedias($event)"></app-media-search>
</div>