.edit-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.form-label {
    font-weight: 500;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #8484847c;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.375rem 0.75rem;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.25);
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: #adadad7c;
}

.form-check-label {
    margin-left: 0.3rem;
    font-weight: normal;
}