<div class="container">
    <div class="row">
        <div class="col">
            <h4>{{name}}</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5>
                        <i class="far fa-calendar-alt"></i> Created at: {{created | date: 'yyyy. MM. dd. HH:mm'}}
                    </h5>
                    <h5>
                        <i class="far fa-clock"></i> Last activity: {{last_activity | date: 'yyyy. MM. dd. HH:mm'}}
                    </h5>
                </div>
                <div>
                    <p>Status: <span [ngClass]="{'badge': true, 'bg-primary': threadStatus === 'open', 'bg-danger': threadStatus === 'locked', 'bg-secondary': threadStatus === 'archived', 'bg-warning': threadStatus === 'error'}">{{threadStatus}}</span></p>
                </div>
            </div>
            <hr>
            <app-reactions *ngIf="reactions"></app-reactions>
            <ng-container *ngIf="comments">
                <app-comment *ngFor="let comment of paginatedComments; let i = index" [iterator]="i"></app-comment>
            </ng-container>
            <mat-paginator [length]="comments.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]" (page)="pageChanged($event)"></mat-paginator>
        </div>