<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center">
                <h4 class="mb-0">{{thread.name}}</h4>
                <div *ngIf="thread.user.ID == sessionId" class="ms-2">
                    <button class="btn btn-dark btn-sm" id="threadEditBtn" (click)="edit()"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
                </div>
            </div>
            <form *ngIf="showEdit" class="mt-3">
                <div class="mb-3">
                    <label for="name" class="form-label">Edit Name</label>
                    <input type="text" id="name" [(ngModel)]="thread.name" name="name" class="form-control">
                </div>
                <button class="btn btn-dark" (click)="sendEdit()">
                    <i class="fas fa-check"></i> Submit
                </button>
                <button class="btn btn-dark ms-2" (click)="cancelEdit()">
                    <i class="fas fa-times"></i> Cancel
                </button>
            </form>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5>
                        <i class="far fa-calendar-alt"></i> Created at: {{thread.created | date: 'yyyy. MM. dd. HH:mm'}}
                    </h5>
                    <h5>
                        <i class="far fa-clock"></i> Last activity: {{thread.last_activity | date: 'yyyy. MM. dd. HH:mm'}}
                    </h5>
                </div>
                <div>
                    <p>Status: <span [ngClass]="{'badge': true, 'bg-primary': threadStatus === 'open', 'bg-danger': threadStatus === 'locked', 'bg-secondary': threadStatus === 'archived', 'bg-warning': threadStatus === 'error'}">{{threadStatus}}</span>
                    </p>
                </div>
            </div>
            <hr>
            <app-reactions *ngIf="thread.reactions"></app-reactions>
            <ng-container *ngIf="thread.comments">
                <app-comment *ngFor="let comment of paginatedComments; let i = index" [iterator]="i" (isDeleted)="removeComment($event)"></app-comment>
            </ng-container>
            <form *ngIf="showNewComment" class="mt-3">
                <label for="commentContent">New Comment</label>
                <textarea [(ngModel)]="newCommentContent" name="commentContent" id="commentContent" class="form-control" rows="3" placeholder="Write your comment here..."></textarea>
                <button class="btn btn-dark btn-sm mt-2" (click)="comment()">
                    <i class="fas fa-paper-plane"></i> Submit
                </button>
            </form>
            <mat-paginator [length]="thread.comments.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]" (page)="pageChanged($event)"></mat-paginator>
        </div>
    </div>
    <app-reaction-modal *ngIf="showAddReactions" (close)="showAddReactions = false" parentType="thread" [parentID]="thread.ID" (reacted)="addReaction($event)"></app-reaction-modal>
</div>