@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.search-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-box {
    width: 100%;
    max-width: 600px;
}

h3 {
    font-weight: 500;
}

.form-control {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
}

input.form-control {
    border-radius: 6px;
}

input.group-append {
    border-radius: 6px;
}

#searchBtn {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}