@import '~@fortawesome/fontawesome-free/css/all.css';
.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: white;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
    cursor: pointer;
}