.container {
    max-width: 100%;
}

.card {
    background: linear-gradient(45deg, rgb(186, 230, 255), #e7eeff);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 0.3em;
}

.haveRegister {
    margin-top: 1em;
}

a {
    color: #0079d5;
    text-decoration: none;
}