<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Threads
            </mat-panel-title>
            <mat-panel-description>
                Count: {{threads.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let thread of threads" class="thread-card card mb-3">
            <div class="card-body">
                <h5 class="card-title mb-0" id="alias">
                    <i class="fa-solid fa-user" id="user-icon"></i>{{thread.user.profile.alias}}
                </h5>
                <div class="thread-info mt-2">
                    <p>Name: {{thread.name}}</p>
                    <p>Status: {{thread.status}}</p>
                </div>
                <button class="btn btn-secondary btn-sm" (click)="open(thread.ID)">Open</button>
            </div>
            <div class="card-footer text-muted">
                <p><i class="far fa-calendar-alt"></i> Created: {{thread.created | date: 'yyyy. MM. dd. HH:mm'}}</p>
                <p><i class="far fa-clock"></i> Last activity: {{thread.last_activity | date: 'yyyy. MM. dd. HH:mm'}}
                </p>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<div *ngIf="isSession">
    <form (ngSubmit)="onSubmit()" [formGroup]="NewThreadFormGroup">
        <p>Create New Thread</p>
        <div>
            <label for="name">Thread Name</label>
            <input type="text" name="NameFormControl" id="name" formControlName="NameFormControl">
            <div
                *ngIf="NewThreadFormGroup.controls['NameFormControl'].invalid && (NewThreadFormGroup.controls['NameFormControl'].dirty || NewThreadFormGroup.controls['NameFormControl'].touched)">
                <p *ngIf="NewThreadFormGroup.controls['NameFormControl'].errors?.['required']" class="text-danger">No
                    Name given</p>
                <p *ngIf="NewThreadFormGroup.controls['NameFormControl'].errors?.['minlength']" class="text-danger">Name
                    must be least 8 characters long</p>
                <p *ngIf="NewThreadFormGroup.controls['NameFormControl'].errors?.['maxlength']" class="text-danger">Name
                    cannot be longer than 50 characters</p>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>