<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <ng-container *ngIf="UserProfile.medium">
                <img src="data:image/jpeg;base64,{{UserProfile.medium}}" alt="Profile Image"
                    class="rounded-circle mb-3 profile-pic">
            </ng-container>
            <ng-container *ngIf="!UserProfile.medium">
                <img src="https://via.placeholder.com/200" alt="Profile Image"
                    class="rounded-circle mb-3 profile-pic"> </ng-container>
        </div>
        <div class="col-md-8">
            <h4 class="username"><i class="fa-solid fa-user" id="user-icon"></i> {{UserProfile.alias}}</h4>
            <p class="birthdate"><i class="fa-solid fa-cake-candles"></i> {{UserProfile.birth_date | date:'dd. MMMM'}}
            </p>
            <div class="col-md-9">
                <div class="d-flex justify-content-between">
                </div>
                <p class="lead">{{UserProfile.description}}</p>
            </div>
        </div>

        <app-reactions *ngIf="UserProfile.reactions"></app-reactions>

        <ng-container *ngIf="UserProfileThread">
            <app-thread [name]="UserProfileThread.name" [status]="UserProfileThread.status"
                [comments]="UserProfileThread.comments" [last_activity]="UserProfileThread.last_activity"
                [created]="UserProfileThread.created" [ID]="UserProfileThread.ID"></app-thread>
        </ng-container>