@import '~@fortawesome/fontawesome-free/css/all.css';
.container {
    max-width: 100%;
}

.card {
    background: linear-gradient(45deg, rgba(37, 175, 255, 0.219), #2f6dff31);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 0.3em;
}

.input-group-text {
    background-color: var(--bg-color);
    border: 1px solid #8484847c;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 2.5em;
}

.input-group:is(.light-theme, .dark-theme) {
    background-color: var(--bg-color);
    border: 1px solid #8484847c;
}

.form-control:is(.light-theme, .dark-theme) {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #8484847c;
}

.form-control:focus:is(.light-theme, .dark-theme) {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #8484847c;
}

#user-icon,
#lock-icon {
    padding-top: 4px;
    padding-bottom: 4px;
}

.haveRegister {
    margin-top: 1em;
}

a {
    color: #0079d5;
    text-decoration: none;
}

.fas {
    color: var(--text-color);
}