@import '~@fortawesome/fontawesome-free/css/all.css';
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    overflow-y: auto;
    max-height: 90vh;
    padding: 1.5em;
}

.text-center {
    text-align: center;
}

.img-thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    padding: 0px !important;
    background: none !important;
    border: 2px solid #8484847c !important;
    border-radius: 4px;
    transition: box-shadow 0.3s;
}

.img-thumbnail:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}