<div class="modal-overlay">
    <div class="modal-content">
        <h4 class="text-center mb-3">Select a Media</h4>
        <div class="row">
            <div *ngFor="let media of medias" class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="image-container">
                    <img src="data:image/jpeg;base64,{{media.file_data}}" [alt]="media.placeholder_text" title="media.placeholder_text" (click)="picked(media)" class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-secondary" (click)="close()">Cancel</button>
        </div>
    </div>
</div>