<div>
    <form [formGroup]="searchFormGroup">
        <div>
            <div>
                <label for=""></label>
                <input type="text">
            </div>
            <div>
                <label for=""></label>
                <input type="text">
            </div>
            <div>
                <div>
                    <label for=""></label>
                    <input type="date" name="" id="">
                </div>
                <div>
                    <label for=""></label>
                    <input type="date" name="" id="">
                </div>
            </div>
            <div>
                <div>
                    <label for=""></label>
                    <input type="date" name="" id="">
                </div>
                <div>
                    <label for=""></label>
                    <input type="date" name="" id="">
                </div>
            </div>
            <button type="submit"></button>
        </div>
    </form>
</div>