@import '~@fortawesome/fontawesome-free/css/all.css';
.container {
    max-width: 100%;
}

.card {
    background: linear-gradient(45deg, rgb(186, 230, 255), #e7eeff);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 0.3em;
}

.picker {
    display: flex;
}

.form-check-inline {
    margin-right: 0.2em;
    background-color: #ffffff;
    padding: 0.4em;
    border-radius: 6px;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
}

.input-group-text {
    background-color: rgb(240, 240, 240);
    border: 1px solid #ced4da;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 2.5em;
}

.form-check-label {
    color: #6C757D;
}

#male,
#female,
#other {
    margin-right: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
}

#picker {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-right: 0.2em;
    background-color: #ffffff;
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.2em;
    border-radius: 6px;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
}

#user-icon,
#lock-icon,
#email-icon,
#gender-icon {
    padding-top: 4px;
    padding-bottom: 4px;
}

#male,
#female,
#other,
.picker {
    margin-right: 0.2em;
}

.haveLogin {
    margin-top: 1em;
}

a {
    color: #0079d5;
    text-decoration: none;
}