<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Register</h2>
                    <form (ngSubmit)="register()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user" id="user-icon"></i></span>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username" name="username" (keyup)="validateUsername()" [ngClass]="{'is-valid': usernameClass === 'is-valid', 'is-invalid': usernameClass === 'is-invalid', 'dark-theme': isDarkMode, 'light-theme': !isDarkMode}"
                                />
                            </div>
                            <div *ngIf="usernameClass === 'is-invalid'" [ngClass]="usernameClass" class="invalid-feedback">
                                Please enter a valid username (min. 3 characters).
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope" id="email-icon"></i></span>
                                </div>
                                <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email" (keyup)="validateEmail()" [ngClass]="{'is-valid': emailClass === 'is-valid', 'is-invalid': emailClass === 'is-invalid', 'dark-theme': isDarkMode, 'light-theme': !isDarkMode}"
                                />
                            </div>
                            <div *ngIf="emailClass === 'is-invalid'" [ngClass]="emailClass" class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock" id="lock-icon"></i></span>
                                </div>
                                <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="password" (keyup)="validatePassword()" [ngClass]="{'is-valid': passwordClass === 'is-valid', 'is-invalid': passwordClass === 'is-invalid', 'dark-theme': isDarkMode, 'light-theme': !isDarkMode}"
                                />

                            </div>
                            <div *ngIf="passwordClass === 'is-invalid'" [ngClass]="passwordClass" class="invalid-feedback">
                                Please enter a valid password (min. 8 characters, max. 32).
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock" id="lock-icon"></i></span>
                                </div>
                                <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirmation" [(ngModel)]="passwordConfirm" name="passwordConfirm" (keyup)="validatePasswordConfirm()" [ngClass]="{'is-valid': passwordConfirmClass === 'is-valid', 'is-invalid': passwordConfirmClass === 'is-invalid', 'dark-theme': isDarkMode, 'light-theme': !isDarkMode}"
                                />

                            </div>
                            <div *ngIf="passwordConfirmClass === 'is-invalid'" class="invalid-feedback">
                                Please enter the same password as above.
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-birthday-cake" id="birthdate-icon"></i></span>
                                </div>
                                <input type="date" class="form-control" id="birth_date" [(ngModel)]="birth_date" name="birth_date" (change)="validateBirthDate()" [ngClass]="{'is-valid': birthDateClass === 'is-valid', 'is-invalid': birthDateClass === 'is-invalid', 'dark-theme': isDarkMode, 'light-theme': !isDarkMode}"
                                />
                            </div>
                            <div *ngIf="birthDateClass === 'is-invalid'" [ngClass]="birthDateClass" class="invalid-feedback">
                                Please enter a valid birth date.
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="picker">
                                <span class="input-group-text"><i class="fa-solid fa-venus-mars" id="gender-icon"></i></span>
                                <div class="form-check-inline" id="picker">
                                    <label class="form-check-label" id="pickGender">Gender</label>
                                </div>

                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" id="male" name="gender" [(ngModel)]="selectedGender" value="male" checked="checked">
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" id="female" name="gender" [(ngModel)]="selectedGender" value="female">
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" id="other" name="gender" [(ngModel)]="selectedGender" value="other">
                                    <label class="form-check-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Register</button>
                    </form>
                    <div class="haveLogin text-center">
                        <p>Have an account? <a routerLink="/login">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>