@import '~@fortawesome/fontawesome-free/css/all.css';
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    overflow-y: auto;
    max-height: 90vh;
    padding: 0.5em;
}

.close-btn {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    border: none;
    background: none;
    font-size: 2em;
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 95%;
}

.image-container img {
    width: 60%;
    max-height: 90vh;
    object-fit: contain;
    max-width: 90vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.description-container {
    width: 40%;
    padding-left: 2em;
}

.description-container p {
    margin: 0;
    font-size: 1.2em;
}

.card {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #8484847c;
}

.card-footer {
    font-size: 0.8rem;
    background-color: rgba(133, 133, 133, 0.171);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-footer>p {
    margin-bottom: 0rem !important;
}

p {
    margin-bottom: 0rem !important;
}

.close-btn {
    position: absolute;
    border: none;
    background: none;
    font-size: 4em;
    top: -0.2em;
    cursor: pointer;
    z-index: 1000;
    color: #ffffff;
    opacity: 0.7;
}