<div class="search-overlay" (click)="closeSearch()">
    <div class="search-container d-flex justify-content-center align-items-center h-100">
        <div class="search-box p-4 rounded shadow" (click)="$event.stopPropagation()">
            <h3 class="mb-4">Search for something on the site</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." #searchInput>
                <div class="input-group-append">
                    <button class="btn btn-primary" id="searchBtn" [disabled]="!searchInput.value" (click)="search(searchInput.value)">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>