<div>
    <form [formGroup]="storyNewFormGroup" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <label for="description">Carousel description</label>
                <input type="text" id=description formControlName="descriptionFormControl"
                    name="descriptionFormControl">
            </div>
            <div>
                <label for="name">Carousel name</label>
                <input type="text" name="nameFormControl" id="name" formControlName="nameFormControl">
            </div>
            <div>
                <p>Visibility</p>
                <div>
                    <label for="private">Private</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl" id="private" value="0">
                </div>
                <div>
                    <label for="friends_only">Friends Only</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl" id="friends_only" value="1">
                </div>
                <div>
                    <label for="registered_only">Registered Only</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl" id="registered_only" value="2">
                </div>
                <div>
                    <label for="public">Public</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl" id="public" value="3">
                </div>
            </div>
            <button (click)="addFormArrayGroupItem()">Add Slide</button>
            <div>
                <div *ngFor="let item of storyNewFormGroup.value.mediaArrayControl; index as i;">
                    <ng-container [formGroup]="item">
                        <div>
                            <label for="description">Slide description</label>
                            <input type="text" id="description" formControlName="mediaDescriptionFormControl">
                        </div>
                        <div>
                            <label for=""></label>
                            <button (click)="showModal(i)">Select Media</button>
                        </div>
                        <button (click)="removeFormArrayGroupItem(item)">Remove Slide</button>
                    </ng-container>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<app-image-picker-modal *ngIf="displayModal" (close)="hideModal()"
    (mediaID)="addMediaID($event)"></app-image-picker-modal>