<div>
    <form [formGroup]="storyNewFormGroup" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <label for="description">Carousel description</label>
                <input type="text" id=description formControlName="descriptionFormControl"
                    name="descriptionFormControl">
            </div>
            <div>
                <label for="name">Carousel name</label>
                <input type="text" name="nameFormControl" id="name" formControlName="nameFormControl">
            </div>
            <div>
                <p>Visibility</p>
                <div>
                    <label for="private">Private</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl"
                        id="private" value="0">
                </div>
                <div>
                    <label for="friends_only">Friends Only</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl"
                        id="friends_only" value="1">
                </div>
                <div>
                    <label for="registered_only">Registered Only</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl"
                        id="registered_only" value="2">
                </div>
                <div>
                    <label for="public">Public</label>
                    <input type="radio" name="visibilityFormControl" formControlName="visibilityFormControl" id="public"
                        value="3">
                </div>
            </div>

            <div cdkDropListGroup>
                <div class="card">
                    <h2>My Uploads</h2>
                    <div class="card-body" cdkDropList [cdkDropListData]="medias" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let media of medias" cdkDrag>
                            <img src="data:image/jpeg;base64,{{media.file_data}}" [alt]="media.placeholder_text"
                                [title]="media.placeholder_text">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h2>Carousel Items</h2>
                    <div class="card-body" cdkDropList [cdkDropListData]="slides" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let slide of slides" cdkDrag>
                            <img src="data:image/jpeg;base64,{{slide.media.file_data}}"
                                [alt]="slide.media.placeholder_text" [title]="slide.media.placeholder_text">
                            <label for="description">Item Description</label>
                            <input type="text" name="" id="description" [(ngModel)]="slide.item_description">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button type="submit">Submit</button>
    </form>
    <button tpye="button" mat-dialog-close>Cancel</button>
</div>