.container {
    max-width: 100%;
}

.card {
    background: linear-gradient(45deg, rgb(186, 230, 255), #e7eeff);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 0.3em;
}

.form-check-inline {
    margin-right: 0.8em;
    background-color: #ffffff;
    padding: 0.4em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 6px;
    border: 1px solid #d7d7d7;
}

#male,
#female,
#other {
    margin-right: 0.6em;
}

.haveLogin {
    margin-top: 1em;
}

a {
    color: #0079d5;
    text-decoration: none;
}