<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Register</h2>
                    <form (ngSubmit)="register()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username" name="username" [ngClass]="usernameClass" (input)="validateUsername()" />
                            <div *ngIf="usernameClass === 'is-invalid'" [ngClass]="usernameClass" class="invalid-feedback">
                                Please enter a valid username (min. 3 characters).
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email" [ngClass]="emailClass" (input)="validateEmail()" />
                            <div *ngIf="emailClass === 'is-invalid'" [ngClass]="emailClass" class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" [ngClass]="passwordClass" (input)="validatePassword()" />
                            <div *ngIf="passwordClass === 'is-invalid'" [ngClass]="passwordClass" class="invalid-feedback">
                                Please enter a valid password (min. 8 characters, max. 32).
                            </div>

                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm password" name="confirmPassword" [(ngModel)]="passwordConfirm" [ngClass]="passwordConfirmClass" (input)="validatePasswordConfirm()" />
                            <div *ngIf="passwordConfirmClass === 'is-invalid'" class="invalid-feedback">
                                Please enter the same password as above.
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="date" class="form-control" [(ngModel)]="birth_date" name="birthDate" id="birthday" [ngClass]="birthDateClass" (input)="validateBirthDate()" />
                            <div *ngIf="birthDateClass === 'is-invalid'" class="invalid-feedback">
                                Please enter a valid birth date (not in the future).
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check-inline">
                                <label class="form-check-label" id="pickGender">Pick gender</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" id="male" name="gender" [(ngModel)]="selectedGender" value="male" checked="checked">
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" id="female" name="gender" [(ngModel)]="selectedGender" value="female">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" id="other" name="gender" [(ngModel)]="selectedGender" value="other">
                                <label class="form-check-label" for="other">Other</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Register</button>
                    </form>
                    <div class="haveLogin text-center">
                        <p>Have an account? <a routerLink="/login">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>