.container {
    max-width: 600px;
    background: linear-gradient(45deg, rgb(186, 230, 255), #e7eeff);
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.1em;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 0.3em;
}

.form-check-inline {
    margin-right: 0.8em;
    background-color: #ffffff;
    padding: 0.4em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 6px;
    border: 1px solid #d7d7d7;
}

#male,
#female {
    margin-right: 0.6em;
}

.haveLogin {
    margin-top: 1em;
}

a {
    color: #0079d5;
    text-decoration: none;
}